{% for ferm in item.value.iteritems() %}
domain ({% for domain ferm.domains %}{{domain}} {% endfor %}) table filter {
  chain {{ferm.chain}} {
  {% for rule in ferm.rules %}
    #{{rule.comment}}
    {{rule.rule}}
  {% endfor }
  }
}
{% endfor %}